.bus-list-container {
  background-color: white;
  box-sizing: border-box;
  margin: 30px 30px;
  height: 1900px;
  width: 2100px;
  padding: 20px;
  border-radius: 30px;
}
@keyframes slide-in-out {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-text {
  display: inline-block;
  white-space: nowrap;
  animation: slide-in-out 5s linear infinite;
}
