.comingsoon-box{
  width: 2100px;
  height: 100px;
  border-radius: 40px;
  background-color: white;
  margin: 30px 30px;
  padding: 20px 0;
  display: flex;
}

.comingsoon-text{
  width: 240px;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  line-height: 100px;
  border-right: 5px solid black;

}

.comingsoon-bus-item{
  /* width: 200px ;  */
  /* background-color: burlywood; */
  margin: 0 30px;
  display: flex;
  gap: 20px;
}

.comingsoon-bus-type{
  width: 100px;
  height: 100px;
}

.comingsoon-bus-route-icon{
  width: 100px;
  height: 100px;
}

.comingsoon-bus-no{
  font-size: 40px;
  line-height: 100px;
  font-weight: bold;
}

.comingsoon-bus-remain{
  font-size: 20px;
  line-height: 115px;

  color: red;
}
