.qrcode-box {
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.qrcode-text{
  text-align: center;
  font-size: 50px;
}

.qrcode-img{
  justify-content: center;
  margin: 0 auto;
}
