.underline-title { 
  color: #000;
  display:inline-block; 
  margin:0;
  text-transform:uppercase; }
.underline-title:after {
  display:block;
  content: '';
  border-bottom: solid 3px #3498db;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.underline-title:hover:after { transform: scaleX(1); }
.underline-title.fromRight:after{ transform-origin:100% 50%; }
.underline-title.fromLeft:after{  transform-origin:  0% 50%; }