.setbtn{
    height: 630px;
    width: 2160px;
}

.bottom-button{
    width: 380px;
    height: 300px;
    font-size: 50px;
    font-weight: bold;
}

.button-page {
    display: flex;
    justify-content: start;
    gap : 120px;
    padding-left: 140px;
}


